<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="edu.cnm.deepdive.quoteclient">

  <uses-permission
    android:name="android.permission.INTERNET"/>

  <application
    android:name=".QodApplication"
    android:usesCleartextTraffic="true"
    android:allowBackup="true"
    android:icon="@mipmap/ic_qod_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_qod_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
    android:fullBackupContent="@xml/backup_descriptor">

    <activity
      android:label="@string/app_name"
      android:name=".controller.MainActivity">
    </activity>

    <activity android:name=".controller.LoginActivity">

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

    </activity>

  </application>

</manifest>